@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@1,300&display=swap');

:root {
    --cor-principal: #00022e;
    --cor-branca: #F6F6F6;
    --azul-claro: #22D4FD;
    --destaque-de-texto-1:#ffb452;
    --destaque-de-texto-2:#F5EA25;
    --cor-hover: #000;

    --fonte-menor: 1.5vw;
    --fonte-maxima: 3vw;
    --margens-laterais: 15%
}

* {
    margin: 0;
    padding: 0
}

body{
    background-color: var(--cor-principal);
    box-sizing: border-box;
    color: var(--cor-branca);
    font: Times;
    height: 100vh;
    margin-top: 4vh;
}

.cabecalho__english {
    display: none;
}

.idiom_change {
    border-radius: 10px;
    border-width: 1px;
    color: var(--azul-claro);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fonte-menor);
    font-weight: 600;
    text-decoration: none;
}

.idiom_change, .cabecalho__english {
    margin-left: var(--margens-laterais);
}

.idiom_change:hover {
    color: var(--destaque-de-texto-1);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link, 
.idiom_change {
    border-radius: 10px;
    border-width: 1px;
    color: var(--azul-claro);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fonte-maxima);
    font-weight: 600;
    text-decoration: none;
}

.cabecalho__english:checked ~ .foto_e_descricao > .foto_e_descricao__list > .foto_e_descricao-eng,

.cabecalho__english:checked ~ .foto_e_descricao > .foto_e_descricao__list > .foto_e_descricao__sobremim > .foto_e_descricao__sobremim-eng,

.cabecalho__english:checked ~ .rodape > .descricoesminhas-eng {
    display: none;
}

.cabecalho__english:not(:checked) ~ .foto_e_descricao > .foto_e_descricao__list > .foto_e_descricao-port,

.cabecalho__english:not(:checked) ~ .foto_e_descricao > .foto_e_descricao__list > .foto_e_descricao__sobremim > .foto_e_descricao__sobremim-port,

.cabecalho__english:not(:checked) ~ .rodape > .descricoesminhas-port  {
    display: none;
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-hover);
}

a {
    color: var(--cor-branca);
    border: 2px solid var(--azul-claro);
    padding: 24px;
}

strong {
    color: var(--destaque-de-texto-1);
}

.titulo_destaque {
    color: var(--destaque-de-texto-2);
}

.foto_e_descricao {
    display: flex;
    margin: 1vw;
    gap: 1vw;
}

.foto_e_descricao__descricoesminhas {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fonte-menor);
    padding: 0 0 0 10px;
}

.curriculum {
    width: 50vw;
}

.foto_e_descricao__foto {
    padding: 20px;
    border-radius: 10%;
    width: 80%;
}

.foto_e_descricao__sobremim {
    font-size: var(--fonte-maxima);
    font-family: 'Krona One', sans-serif;
    padding: 10px 0 10px 10px;
}

ul {
    list-style: none;
}

.foto_e_descricao__subtitulocurriculo {
    font-size: var(--fonte-menor);
    font-family: 'Krona One', sans-serif;
    padding: 10px 0 10px 10px;
}

.rodape {
    background-color: var(--azul-claro);
    color: var(--cor-principal);
    font-family: 'Krona One', 'sans-serif';
    font-size: larger;
    padding: var(--fonte-menor);
    text-align: center;
}

@media (max-width: 1200px){
    .cabecalho {
        padding: 2% 0;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .foto_e_descricao {
        align-items: center;
        flex-direction: column-reverse;
        padding: 5px 0;
        width: auto;
    }

    .foto_e_descricao__foto {
        margin: 0 32vw;
        width: 30%;
    }

    .curriculum {
        width: 100%;
    }
}

@media (max-width: 428px) {
    a {
        padding: 2vw 24px;
    }

    .foto_e_descricao__sobremim {
        padding: 5px 0;
    }

    .curriculum {
        width: 80%;
    }

    .rodape {
        font-size: 1vw;
    }
}
