@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@1,300&display=swap');

:root {
    --cor-principal: #00022e;
    --cor-branca: #F6F6F6;
    --azul-claro: #22D4FD;
    --destaque-de-texto-1:#ffb452;
    --destaque-de-texto-2:#F5EA25;
    --cor-hover: #000;

    --fonte-menor: 1.5rem;
    --fonte-maxima: 3rem;
    --margens-laterais: 15%;
    --fonte-mobile: 9vw;
    --fonte-mobile-menor: 5vw;
} 

* {
    margin: 0;
    padding: 0
}

body{
    background-color: var(--cor-principal);
    box-sizing: border-box;
    color: var(--cor-branca);
    font: Times;
    height: 100vh;
    margin-top: 4vh;
}

.cabecalho__english {
    display: none;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link, 
.idiom_change {
    border-radius: 10px;
    border-width: 1px;
    color: var(--azul-claro);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fonte-menor);
    font-weight: 600;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-hover);
}

.idiom_change, .cabecalho__english {
    margin-left: var(--margens-laterais);
}

.idiom_change:hover {
    color: var(--destaque-de-texto-1);
}

.cabecalho__english:not(:checked) ~ .cabecalho > .cabecalho__menu > .cabecalho__menu__link > .cabecalho__menu-port,

.cabecalho__english:not(:checked) ~ .apresentacao > .apresentacao__conteudo > .apresentacao__conteudo__titulo > .apresentacao__conteudo__titulo-port,

.cabecalho__english:not(:checked) ~ .apresentacao > .apresentacao__conteudo > .apresentacao__conteudo__texto > .apresentacao__conteudo__texto-port,

.cabecalho__english:not(:checked) ~ .apresentacao > .apresentacao__conteudo > .apresentacao__links > .apresentacao__links_subtitulo > .apresentacao__links_subtitulo-port,

.cabecalho__english:not(:checked) ~ .rodape > p > .rodape-port
{
    display: none;
}

.cabecalho__english:checked ~  .cabecalho > .cabecalho__menu > .cabecalho__menu__link > .cabecalho__menu-eng,

.cabecalho__english:checked ~ .apresentacao > .apresentacao__conteudo > .apresentacao__conteudo__titulo > .apresentacao__conteudo__titulo-eng,

.cabecalho__english:checked ~ .apresentacao > .apresentacao__conteudo > .apresentacao__conteudo__description > .apresentacao__conteudo__description-eng,

.cabecalho__english:checked ~ .apresentacao > .apresentacao__conteudo > .apresentacao__links > .apresentacao__links_subtitulo > .apresentacao__links_subtitle-eng,

.cabecalho__english:checked ~ .rodape > p > .rodape-eng  {
    display: none;
}

.cabecalho__menu__link__english {
    border-width: 1px;
    color: var(--azul-claro);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fonte-menor);
    font-weight: 600;
    text-decoration: none;
}

a {
    color: var(--cor-branca);
    border: 2px solid var(--azul-claro);
    padding: 24px;
}

.apresentacao {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2vh var(--margens-laterais);
    gap: 82px;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.apresentacao__conteudo__texto,
.apresentacao__conteudo__description {
    font-size: var(--fonte-menor);
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__titulo {
    font-size: 3rem;
    font-family: 'Krona One', sans-serif;
}

strong {
    color: var(--destaque-de-texto-1);
}

.apresentacao__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__link {
    border-radius: 16px;
    color: var(--cor-branca);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 1000;
    padding: 21.5px 0;
    text-align: center;
    text-decoration: none;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    padding: 21.5px 10px;
}

.apresentacao__links_subtitulo{
    font-family: 'Krona One', 'sans-serif';
    font-size: var(--fonte-menor);
    font-weight: 400;
}

.apresentacao__aumento{
    width: 50%; 
}

.apresentacao__aumento:hover{
    transform: scale(1.025);
}

.rodape {
    background-color: var(--azul-claro);
    color: var(--cor-principal);
    font-family: 'Krona One', 'sans-serif';
    font-size: larger;
    padding: var(--fonte-menor);
    text-align: center;
}

.titulo_destaque {
    color: var(--destaque-de-texto-2);
}

.foto_e_descricao {
    display: flex;
    margin: 1vw;
    gap: 1vw;
}

.foto_e_descricao__descricoesminhas {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    padding: 0 0 0 10px;
}

.foto_e_descricao__foto {
    padding: 20px;
    border-radius: 10%;
    width: 80%;
}

.foto_e_descricao__sobremim {
    font-size: var(--fonte-maxima);
    font-family: 'Krona One', sans-serif;
    padding: 10px 0 10px 10px;
}

.foto_e_descricao__subtitulocurriculo {
    font-size: var(--fonte-menor);
    font-family: 'Krona One', sans-serif;
    padding: 10px 0 10px 10px;
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5% 5%;
        gap: 1vh;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .cabecalho {
        padding: 6%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .idiom_change {
        font-size: var(--fonte-mobile-menor)
    }

    .apresentacao {
        gap: 1vh;
        margin: 0;
    }

    .apresentacao__aumento {
        gap: 100%;
    }

    .apresentacao__conteudo__titulo {
        font-size: var(--fonte-mobile);
    }

    .apresentacao__links__text {
        display: none;
    }
}
